<!DOCTYPE html>
<html>
<head>
    <title>End Quiz</title>
</head>
<body>
<h1>End Quiz</h1>
<p>Bine ai terminat, {{userAccess.name}}! Ai finalizat comandarea produselor.</p>
<p><a href="/results?userAccessId={{userAccess.id}}">Vezi totalul comenzii</a></p>
</body>
</html>
