<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>
<h1>Bine ai venit la Magazinul nostru!</h1>
<p>Pentru a începe, introdu numele și apasă butonul.</p>

<form action="/start" method="GET">
    Numele: <input type="text" name="user" required placeholder="Introdu un nume">
    <input type="submit" value="Începe cumpărăturile">
</form>
</body>
</html>
