<!DOCTYPE html>
<html>
<head>
    <title>Total Comandă</title>
</head>
<body>
<h1>Totalul Comenzii</h1>
<p>Salut, {{userAccess.name}}! Totalul comenzii tale este {{totalAmount}} lei.</p>
</body>
</html>
