<!DOCTYPE html>
<html>
<head>
    <title>Începe Cumpărăturile</title>
</head>
<body>
<h1>Începe cumpărăturile, {{userAccess.name}}!</h1>
<p><a href="/question?userAccessId={{userAccess.id}}&foodChoiceId=1">Comandă un produs</a></p>
</body>
</html>
